.flex-header {
    display: flex;
    width: 100%;
    height: 50px;
    background-color: coral;    
}
.flex-logo {
    font-size: 32px;
    color: white;
    margin-left: 10px;
}
.flex-content {
    display: flex;
    font-size: 26px;
    color: white;
    align-items : center;    
}
.margin-right {
    margin-right: 20px;
    margin-bottom: 25px;
}

.main {
    width: 80%;
    max-width: 600px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 20px;

}
.main div {
    float: left;
    width: 25%;
    text-align: center;
}



@media screen and (max-width: 1200px) {
    .main div {
        width:50%;
        margin-bottom: 30px;
    }
    
}
@media screen and (max-width: 768px) {
    .main div {
        width:100%;
        margin-bottom: 30px;
    }
    
}